@import '~bootstrap/scss/bootstrap';

*{
  font-family: monospace, sans-serif;
}

body {
  background: #CFFCF4;
}

.box {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: #4E5F5B;
  color: #CFFCF4;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  width: 50%;
  align-self: center;
  margin: 10px;
}

// #change-password {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   align-self: center;
//   float: right;
//   margin-top: 20px;
//   margin-right: 2%;
//   width: 15%;
//   min-width: 60px;
//   align-content: center;
// }

.display-message {
  position: fixed;
  top: 0;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.failure {
  color: white;
  background-color: #CD5C5C;
  text-align: center;
}

input {
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  background-color: #EEEEEE;
}

h2 {
  font-size: 24px;
}

.hidden {
  display: none;
}

.hidden-settings {
  display: none;
  font-size: 14px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // align-self: center;
  // float: right;
  // margin-top: 20px;
  // margin-right: 2%;
  // width: 15%;
  // min-width: 60px;
  // align-content: center;
}

.hide-game {
  display: none;
}


input {
  margin: 2px;
  border: 2px solid #9BBDB7;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
}

#logged-out-view {
  margin-top: 150px;
  text-align: center;
}

#logged-in-view {
  margin-top: 50px;
}

#new-game {
  width: 320px;
  margin-left: 80px;
}

#game-index {
  width: 320px;
  margin-left: 80px;
}

.row {
  background: #C3C4C4;
  text-align: center;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-contents: center;
  margin: 20px
  // align-self: center;
}

#settings {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-top: 20px;
  margin-right: 2%;
  width: 10%;
  min-width: 40px;
  align-content: center;
  // position: fixed;
  // top: 0;
  // font-size: 20px;
  // margin: 0;
  // padding: 0;
}

#sign-up {
  display: flex;
  flex-direction: column;
  float: left;
  width: 30%;
  margin-left: 10%;
  // &input {
  //   border-radius: 3px;
  // }
}

#sign-in {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
  margin-right: 10%;
}

.success {
  color: white;
  background: #2E8B57;
  text-align: center;
  margin: 0;
  padding: 0;
}

#win-message {
  font-size: 24px;
  color: #4E5F5B;
}
